// Variables for global use

//**** Colors
$purple: #2A2240;
$white: #fff;
$teal: #0E5664;
$red: #D0021B;

//Selection
::-moz-selection {
  background: $teal;
  color: $white;
}
::selection {
  background: $teal;
  color: $white;
}

//Shadows
$shadow: 0 0 40px 0 rgba(0,0,0,.20);
$shadow-sm: 0 6px 20px 0 rgba(0,0,0,.1);
$shadow-hov: 0 10px 40px 0 rgba(0,0,0,.25);

//Gradient
$black-grad: linear-gradient(-180deg, rgba(0,0,0,.4) 30%, rgba(0,0,0,.6) 79%);
$black-grad-2: linear-gradient(-180deg, rgba(0,0,0,0) 30%, rgba(0,0,0,.7) 100%);

$white-grad: linear-gradient(0deg, rgba(255,255,255,.5) 0%, rgba(255,255,255,1) 100%);

$white-grad-top: linear-gradient(0deg, rgba(255,255,255,0) 10%, rgba(255,255,255,1) 90%);
$white-grad-bottom: linear-gradient(180deg, rgba(255,255,255,0) 10%, rgba(255,255,255,1) 90%);

$blue-grad: linear-gradient(130deg, rgba(81,163,210,.5) 0%, rgba(40,106,166,1.0) 83%);


//**** Typography
$oswald: 'Oswald', sans-serif;
$lato: 'Lato', sans-serif;

//Font Sizes
$h2: 1.5em;
@mixin h2 {
  font-size: $h2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-family: $oswald;
}

//**** Transitions
$transition: .375s all ease-in;

//**** Animations
@include setup-fadeInUp;
@include setup-fadeIn;
@include setup-fadeOut;
@include setup-fadeInLeft;
@include setup-fadeInRight;
@include setup-fadeInDown;
@include setup-fadeOutDown;

//Containers
.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

//Button
.button {
  display: inline-block;
  padding: 12px 30px;
  letter-spacing: 2px;
  background: $red;
  text-transform: uppercase;
  font-family: $oswald;
  text-transform: uppercase;
  font-weight: 300;
  color: $white;
  text-decoration: none;
  transition: $transition;
}
