// Variables for global use

//**** Colors
$purple: #2A2240;
$white: #fff;
$teal: #0E5664;
//**** Typography

//**** Animations
@include setup-fadeInUp;
@include setup-fadeIn;
@include setup-fadeOut;
@include setup-fadeInLeft;
@include setup-fadeInRight;
@include setup-fadeInDown;
@include setup-fadeOutDown;
