@charset "UTF-8";

@import "base/**/*";
@import "vendor/*";
@import "elements/*";
@import "components/**/*";
@import "pages/*";

.intro {
  width: 100%;
  overflow-x: hidden;
  height: 100vh;
  min-height: 800px;
  padding: 100px 0;
  background: #2A2C32;
  position: relative;
  &__logo {
    position: fixed;
    width: 220px;
    height: 220px;
    left: 50%;
    transform: translateX(-50%);
    top: 120px;
    z-index: 2;
    @include breakpoint(500px) {
      width: 180px;
      height: 180px;
    }
    &:hover, &:focus {
      &:before, &:after {
        opacity: .25;
      }
    }
    &:after, &:before {
      content: '';
      top: 50%;
      left: 50%;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      opacity: .19;
      transform: translate(-50%, -50%) scale(1.26);
      transition: .2s all ease-in;
      background-image: radial-gradient(50% 150%, #F69336 50%, #F68E52 100%);
      z-index: -1;
      animation-iteration-count: infinite;
    }
    &:after {
      @include animated(2.5s);
      animation-name: sunGlow1;
    }
    &:before {
      @include animated(2.2s);
      transform: translate(-50%, -50%) scale(1.5);
      animation-name: sunGlow2;
    }
    svg {
      width: 100%;
    }
  }
  &__sky {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    &--light {
      background-image: linear-gradient(-180deg, #3E436F 0%, #D85F6C 50%, #D94E35 100%);
    }
    &--dark {
      z-index: 1;
      opacity: var(--sky);
    	will-change: opacity;
      background-image: linear-gradient(-180deg, #3E436F 20%, #D85F6C 100%);
    }
  }
  &__water {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 250px;
    z-index: 2;
    background-image: radial-gradient(51% 160%, #D67A56 16%, #9E3150 100%);
  }
  &__city {
    position: absolute;
    left: 0;
    bottom: 190px;
    width: 100%;
    z-index: 5;
    svg {
      width: 100%;
      min-width: 1300px;
    }
  }
  &__hills-front {
    position: absolute;
    left: 0;
    bottom: 200px;
    width: 100%;
    z-index: 4;
    transition: $transition;
    @include breakpoint(600px) {
      left: -200px;
    }
    svg {
      width: 100%;
      min-width: 1300px;
    }
  }
  &__hills-back {
    position: absolute;
    left: 200px;
    bottom: 200px;
    width: 100%;
    z-index: 3;
    transition: $transition;
    svg {
      width: 100%;
      min-width: 1300px;
    }
    @include breakpoint(600px) {
      left: 0px;
    }
    @include breakpoint(360px) {
      left: -100px;
    }
  }
  &__foreground {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10;
    bottom: 0;
    backface-visibility: hidden;
    transform: translateY(var(--fg));
    will-change: transform;
    svg {
      width: 100%;
    }
    &__left {
      width: 100%;
      min-width: 1300px;
    }
    &__right {
      width: 270px;
      position: absolute;
      right: 0;
      top: 27%;
      @include breakpoint(1560px, min-width) {
        margin-top: 1%;
      }
    }
  }
  &__items {
    &__speedbag {
      position: absolute;
      left: 0;
      top: -260px;
      width: 230px;
      @include breakpoint(1560px, min-width) {
        margin-top: 1%;
      }
      @include breakpoint(450px) {
        width: 210px;
        top: -240px;
      }
      @include breakpoint(360px) {
        width: 180px;
        top: -200px;
      }
      &:hover {
        .bag {
          fill: $white;
        }
      }
    }
    &__bike {
      position: absolute;
      width: 200px;
      left: 10%;
      top: -50px;
      @include breakpoint(1560px, min-width) {
        margin-top: 1%;
      }
      @include breakpoint(450px) {
        width: 180px;
        top: -50px;
      }
      @include breakpoint(360px) {
        width: 150px;
        top: -40px;
      }
      &:hover {
        .bikeframe {
          fill: $white;
        }
      }
    }
    &__helmet {
      position: absolute;
      width: 80px;
      left: 32%;
      top: 10px;
      @include breakpoint(1560px, min-width) {
        margin-top: 1%;
      }
      @include breakpoint(1050px) {
        left: 45%;
      }
      @include breakpoint(640px) {
        left: auto;
        right: 23%;
      }
      @include breakpoint(450px) {
        width: 60px;
        top: 25px;
      }
      &:hover {
        .helmet {
          fill: $white;
        }
      }
    }
    &__speaker {
      position: absolute;
      width: 90px;
      right: 0;
      top: -40px;
      @include breakpoint(1560px, min-width) {
        top: -10%;
        margin-top: 1%;
      }
      @include breakpoint(640px) {
        left: auto;
        top: -55px;
      }
      @include breakpoint(450px) {
        width: 70px;
        top: -35px;
      }
      &:hover {
        .speaker {
          fill: $white;
        }
      }
    }
  }
  &__bird {
    transition: .375 ease-in-out;
    position: absolute;
    top: 100px;
    z-index: 10;
    animation-iteration-count: infinite;
    @include animated(10s);
    animation-name: birdFly;
    &--higher {
      width: 75px;
      left: 20%;
      @include breakpoint(800px) {
        left: 10%;
      }
      @include breakpoint(500px) {
        left: 10px;
      }
    }
    &--lower {
      width: 100px;
      right: 20%;
      top: 300px;
      animation-delay: .2s;
      animation-duration: 10.5s;
      animation-direction: reverse;
      @include breakpoint(800px) {
        right: 10%;
      }
      @include breakpoint(500px) {
        right: 10px;
      }
    }
  }
}
.foreground {
  display: block;
  width: 100%;
  background: $purple;
  height: 1200px;
  margin-top: -10px;
  backface-visibility: hidden;
  transform: translateY(var(--ty));
  will-change: transform;
  z-index: 100;
  position: relative;
}
