//Modal
.image-modal {
  padding: 40px;
  max-width: 500px;
  margin: 0 auto;
  video {
    display: block;
    max-width: 100%;
    width: 100%;
  }
}
.caption {
  color: $white;
  font-family: $oswald;
  font-size: 1em;
}
