<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/styles/application.css">
  </head>
  {% include header.html %}
  <body class="{{ page.class }}">

    {{ site.baseurl }}

    {{ content }}

    {% include footer.html %}

    <script type="text/javascript" src="/assets/js/application-vendor.js"></script>
    <script type="text/javascript" src="/assets/js/application.js"></script>
  </body>
</html>
